body {
    background-color: white; 
    color: black;
    font-family: tahoma, Arial, Helvetica, sans-serif;
}

header, footer {
    text-align: center;
}

h1 {
    color: darkgreen;
}

#mainmenu li {display: inline-block;}
#mainmenu a {text-decoration: none;
color:black}

/* Mobile */
@media only screen and (max-width: 420px) {
    body {
        background-color: rgb(255, 0, 0);
    }
}

/* Medium screens */
@media only screen and (min-width: 421px) and (max-width: 1023px) {
    body {
        background-color: rgb(255, 0, 0);
    }
}

/* Large screens */
@media only screen and (min-width: 1024px) {
    body {
        background-color: rgb(255, 0, 0);
    }
}




